.jumbotron {
	text-align: center;
}

button {
	width: 100%;
}

body {
  background-image: url("rainbownary.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}

#start {
	width: 50%;
}

ul {
	list-style: none;
	font-size: 36px;
}