body {
  background-image: url("../img/rainbownary.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}

ul {
	list-style: none;
	font-size: 36px;
	padding: 0px 0px 0px 0px;
}

img {
	width: 100px;
}

h2 {
	color: white;
}

#start {
	width: 30%;
}
.jumbotron {
	text-align: center;
}

.answer {
	height: 200px;
}

.panel {
	border-radius: 5rem;
}

.btn {
	border-radius: 5rem;
	width: 100%;
}

.again {
	width: 50%;
}